.vscode/
.vs/

.cache/
.DS_Store
*.env
*.env.development.local
*.env.development
*.env.local
*.env.production.local
*.env.test.local
.eslintcache
.grunt
.lock-wscript
.next
.npm
.nyc_output
*.log
*.pid
*.pid.lock
*.seed
build/
dist/
public/
target/
bower_components
coverage
lib-cov
node_modules
npm-debug.log*
pids
yarn-debug.log*
yarn-error.log*
yarn.lock
