$main-bg: rgb(234, 243, 255);
$main-fg: rgb(7, 19, 40);
$accent: rgb(16, 123, 211);

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

$accent-bg: rgb(17, 22, 29);
$accent-fg: rgb(221, 232, 248);

$shadow-color: rgba(0, 0, 0, 0.4);
