@use 'globals' as *;

$loader-size: 96px;

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $main-bgcolor;

    .loader {
        display: flex;
        position: relative;
        top: calc(50% - (#{$loader-size} / 2));
        left: calc(50% - (#{$loader-size} / 2));
        width: $loader-size;
        height: $loader-size;

        align-items: center;
        justify-content: center;
        z-index: 1001;

        border-radius: 50%;
    }
}

.loaded {
    #loader-wrapper {
        transition: all 0.6s 1s ease-out;
        opacity: 0;
        visibility: hidden;

        .loader {
            transform: translateY(-1000%);
            transition: all 0.3s 1s ease-out;
            opacity: 0;
        }
    }
}
