@use 'reset';
@use 'loader';
@use 'fonts';

@use 'variables' as *;
@use 'globals' as *;

// All elements prior to the `main display` are basically wrappers
#root,
body,
html {
    @extend %root-window;
}

// The main display will be centered
main#wrapper {
    @extend %default-center;

    align-items: initial;
    justify-content: initial;

    $sidebar-width: 16rem;
    $topbar-height: 2.5rem;

    // Sidebar
    aside#sidebar {
        @include horizontal-shadow;
        @extend %default-center;

        flex-direction: column;
        justify-content: flex-start;
        width: $sidebar-width;

        background-color: $accent-bg;
        color: $accent-fg;

        z-index: 1001;

        $banner-height: 8rem;

        div#banner {
            @extend %default-center;
            box-sizing: border-box;

            height: $banner-height;

            header {
                @extend %default-center;

                height: 75%;

                font-family: 'Roboto Slab', serif;
                font-size: 2rem;
                text-shadow: 2px 2px 0px $shadow-color;

                border-bottom: 2px solid $shadow-color;
            }
            section {
                @extend %default-center;

                height: 25%;
            }

            border-bottom: 2px solid $shadow-color;
        }

        nav {
            @extend %default-center;

            flex-direction: column;
            justify-content: flex-start;
            height: calc(100% - #{$banner-height});

            a.link {
                @extend %default-center;
                flex-direction: row;

                height: 2.5rem;
                justify-content: flex-start;

                text-shadow: 2px 2px 2px $shadow-color;
                font-family: 'Roboto', sans-serif;
                font-size: 1.2rem;
                letter-spacing: 0.1vh;
                font-style: italic;
                font-weight: 400;
                text-decoration: none;
                color: $accent-fg;

                border-bottom: 1px dashed $shadow-color;

                transition: all 0.1s cubic-bezier(0.6, 0.05, 0.34, 1.01);

                ion-icon {
                    @extend %default-center;

                    height: 60%;
                    width: 20%;
                }
            }

            a.link:last-child {
                border: 0;
            }

            a.link:hover {
                background-color: $accent;
            }
        }
    }

    // The right side of the page is wrapped in an anonymous div
    // just for ease with the flexbox
    div {
        @extend %default-center;

        width: calc(100% - #{$sidebar-width});
        height: calc(100% - #{$topbar-height});

        justify-content: flex-start;
        flex-direction: column;

        z-index: 1000;

        // Topbar
        div#topbar {
            @include vertical-shadow;
            @extend %default-center;

            width: calc(100% - #{$sidebar-width});
            position: fixed;
            top: 0;
            left: $sidebar-width;

            flex-direction: row;
            height: $topbar-height;

            background-color: $accent-bg;
            color: $accent-fg;

            z-index: 999;

            span.clock {
                @extend %default-center;

                width: 10%;
            }

            nav {
                @extend %default-center;

                flex-direction: row;
                justify-content: flex-end;
                position: fixed;
                right: 0;
                width: calc(#{$sidebar-width} * 3 / 2);
                height: calc(#{$topbar-height} - 0.5rem);

                a.link {
                    @extend %default-center;
                    flex-direction: row;

                    max-width: 25%;
                    margin-right: 0.5vmax;

                    text-shadow: 2px 2px 2px $shadow-color;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    letter-spacing: 0.1vh;
                    font-weight: 600;
                    text-decoration: none;
                    color: $accent;

                    border-radius: 0.4rem;
                    border: 0.2rem solid $accent;

                    transition: all 0.1s cubic-bezier(0.6, 0.05, 0.34, 1.01);
                }

                a.link:hover {
                    color: $accent-fg;
                    border-color: $accent-fg;
                }
            }
        }

        // Page content itself
        div#page {
            @extend %default-center;

            position: relative;
            top: $topbar-height;

            flex-direction: column;

            background-color: $main-bg;

            z-index: 998;

            // Style the page header
            header {
                @extend %default-center;

                font-size: 3rem;
                font-weight: bold;
                width: 100%;
                height: 10%;
            }

            main {
                @extend %default-center;

                flex-direction: row;

                width: 100%;
                height: 80%;

                section.text-section {
                    @extend %default-center;

                    flex-direction: column;
                    justify-content: flex-start;

                    width: 90%;
                    height: 90%;

                    border-radius: 1rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    padding: 1rem;

                    box-shadow: 3px 3px 8px 0px $shadow-color;

                    header.text-heading {
                        @extend %default-center;

                        justify-content: flex-start;

                        width: 100%;
                        height: 3rem;
                        font-size: 1.5rem;
                        font-weight: normal;
                    }

                    article {
                        @extend %default-center;

                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-top: 1rem;
                        line-height: 1.8rem;
                    }
                }

                section.tile {
                    @extend %default-center;

                    align-items: flex-start;

                    width: 25%;
                    height: 60%;

                    border-radius: 0.3rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    padding: 1rem;

                    border: 0.2rem solid $accent;

                    fieldset {
                        @extend %default-center;

                        flex-direction: column;
                        justify-content: flex-start;

                        header {
                            @extend %default-center;

                            height: 2rem;
                            width: 100%;

                            align-items: flex-start;
                            justify-content: flex-start;

                            font-size: 1.4rem;
                            font-weight: bold;

                            border-bottom: 0.15rem solid rgba($accent, 0.6);
                        }

                        div.subtitle {
                            @extend %default-center;

                            justify-content: center;
                            align-items: flex-start;

                            width: 100%;
                            padding-top: 1rem;
                            height: 1.5rem;

                            font-size: 1.1rem;
                        }
                    }
                }
            }

            footer {
                @extend %default-center;

                position: fixed;
                bottom: 0;

                width: 100%;
                height: 2rem;

                background-color: $accent-bg;
                color: $accent-fg;
            }
        }
    }
}
