{
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            { "legacy": true },
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "~": "./src",
                    "@flux/shared": "../shared/src",
                    "@flux/server": "../server/src",
                    "@flux/assets": "../assets/"
                }
            }
        ]
    ]
}
