{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@angular-eslint/recommended",
        "plugin:@angular-eslint/template/process-inline-templates",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:ngrx/recommended",
        "plugin:rxjs/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "jest": true
    },
    "settings": {
        "import/resolver": {
            "alias": {
                "map": ["~", "./src/"]
            },
            "typescript": {
                "alwaysTryTypes": true
            }
        }
    },
    "rules": {
        "prettier/prettier": ["warn"],
        "import/prefer-default-export": "off",
        "object-curly-spacing": ["warn", "always"],
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "none"
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "none"
            }
        ],
        "@typescript-eslint/no-explicit-any": ["warn"],
        "max-len": [
            "warn",
            {
                "code": 80,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreComments": true
            }
        ],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/*.test.js",
                    "**/*.test.jsx",
                    "**/*.test.ts",
                    "**/*.test.tsx",
                    "src/tests/**/*"
                ]
            }
        ]
    }
}
